@{
    ViewBag.Title = "CareerGPS";
}

@*<link href="~/Content/Site.css" rel="stylesheet" />*@
<link href="~/Content/Site.min.css" rel="stylesheet" type="text/css" media="screen" runat="server" />

<section class="mainContainer">
    <div id="frontPageOverlay">
        <div id="logoContainer" class="flexDiv">
            <img id="logo" src="~/Content/images/cctlogo2.png" alt="logo" />

            <div class="displayInline">
                <h1>CareerGPS</h1>
                <h2>Stay On Track for a Brighter Future</h2>
            </div>
        </div>


        <div id="box">
            <div id="parentStudentBox" class="flexDiv">
                <h3>Let's get started. Choose an Option.</h3>
                <div class="flexColumn">
                    <h4>I'm a parent</h4>
                    <p>I'm here to help guide my child toward a great future.</p>
                    <button class="standardButton" id="parentStartBtn">Start now</button>
                </div>
                <div class="flexColumn">
                    <h4 class="studentColor">I'm a student</h4>
                    <p>I'm here to find the best college and career for me.</p>
                    <button class="standardButton" id="studentStartBtn">Let's go</button>
                </div>
            </div>
        </div><!--box-->
    </div>
</section><!--mainContainer-->
<section id="statsSection">
    <div class="container">
        <h2>Problems that we are solving in numbers:</h2>
        <div class="">
            <div class="flexDiv">
                <div class="snippet sm-100 flex1">
                    <p>"Only 27% of college graduates have a job related to their major."</p>
                    <p class="smallerFont"><i>Federal Reserve Bank of New York</i></p>
                </div>
                <div class="snippet sm-100 flex1">
                    <p>"6% of the school counselor's time spent on occupational counseling and job placement."</p>
                    <p class="smallerFont"><i>National Association for College Admissions Counseling</i></p>
                </div>
            </div>
            <div class="flexDiv">
                <div class="snippet sm-100 flex1">
                    <p>"National Student to Counselor ratio - 436 to 1."</p>
                    <p class="smallerFont"><i>National Association for College Admissions Counseling</i></p>
                </div>
                <div class="snippet sm-100 flex1">
                    <p>"22% of counselors time spent on college counseling."</p>
                    <p class="smallerFont"><i>National Association for College Admissions Counseling</i></p>
                </div>
            </div>
            <div class="text-center">
                <button type="button" class="learnMoreButton standardButton">Learn More</button>
            </div>
        </div>
    </div>
</section>
<section id="statsSection2">
    <div class="overlay">
        <div class="flexDiv">
            <div class="col-3 sm-100">
                <h2>Process</h2>
                <p><b>CareerGPS</b> is a technology solution that guides users through the process of career exploration and college admission.</p>
            </div>
            <div class="col-3 sm-100">
            <h2>Engagement</h2>
            <p><b>CareerGPS</b> uses gamification and rewards to keep students engaged and on track towards their post high school graduation goals.</p>
            </div>
            <div class="col-3 sm-100">
            <h2>Personalizaton</h2>
            <p><b>CareerGPS</b> eliminates noise and develops personalized pathways based on member's input, personal preferences and up-to-date statistical data.</p>
            </div>
            <button type="button" class=" learnMoreButton standardButton">Learn More</button>
        </div>
    </div>
</section>
<section id="careerPathSection">
        <h2>Career Path Example</h2>
        <div class="imageWrapper">
            <img class="img-responsive" src="~/Content/images/graphicDesigner.png" alt="screenshot of career path on the example of graphic designer" />
        </div>
</section>
<section id="screenshotsSection">
    <div class="">
        <h2>Product Screenshots</h2>
        <div class="flexDiv">
            <div class="col-4 sm-50">
                <img class="img-responsive" src="~/Content/images/myactivities1.png" alt="screenshot of the phone view of my activities section" />
            </div>
            <div class="col-4 sm-50">
                <img class="img-responsive" src="~/Content/images/myactivities2.png" alt="screenshot of the phone view of my activities section" />
            </div>
            <div class="col-4 sm-50">
                <img class="img-responsive" src="~/Content/images/selectaskill.png" alt="screenshot of the phone view of select a skill section" />
            </div>
            <div class="col-4 sm-50">
                <img class="img-responsive" src="~/Content/images/mentors.png" alt="screenshot of the phone view of mentors section" />
            </div>
        </div>
        <div class="col-100 text-center">
            <button type="button" class="learnMoreButton standardButton">Learn More</button>
        </div>
    </div>
</section>

